.App {
  padding: 0 0px;
  width: 100%;
  margin: auto;
  border: 0px solid white;
}

.App-header {
  background-color: #222;
  height: 100px;
  width: 100%;
  margin: auto;
  color: white;
  background-color: #044;
  padding-top: 10px;
  font-size: 1.25em;
  font-weight: normal;
  text-align: center;
  border: 0px solid black;
}

.App-title {
  font-size: 1.75em;
}


.cust-wrapper {
  margin: auto;
  margin-top: 50px;
  border: 1px solid black;
  width: 1200px;
  border: 0px solid red;
}


