/* CustCard.css */

.cust-card {
  position: absolute;
  width: 340px;
  height: 460px;
  padding: 20px;
  background-color: #eee;
  user-select: none;
  border-radius: 5px;
  border: 1px solid black;
}

.cust-card h1 {
  color: #033;
  text-align: center;
  font-size: 1.5em;
}

.cust-card h2 {
  color: #033;
  text-align: center;
  font-size: 1.0em;
}

.button-refresh {
  position: absolute;
  top: 320px;
  margin-left: 15%;
  width: 60%;
  height: 60px;
  font-size: 1.75em;
}

.button-remove {
  position: absolute;
  top: 400px;
  margin-left: 15%;
  width: 60%;
  height: 60px;
  font-size: 1.75em;
}
