/* CustList.css */


.cust-list {
  position: relative;
  width: 800px;
  height: 500px;
  left: 400px;
  overflow: auto;
  background-color: #fff;
  font-size: .8em;
  border-radius: 5px;
  border: 1px solid black;
}

